html,
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: sans-serif;
}

.header {
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-bottom: solid 1px grey;
}

.header__h1 {
  margin: 0;
  font-size: 120%;
}

.main {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main__content__item {
  position: relative;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: grey;
  cursor: pointer;
  overflow: hidden;
}

.main__content__item__info {
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  -webkit-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.main__content__item__info > img {
  width: 100%;
  max-height: 350px;
}

.main__content__item__info__text {
  text-align: center;
}

.main__content__item__buy {
  width: 100px;
  margin-top: 10px;
  position: absolute;
  left: calc(50% - 50px);
  bottom: 20px;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.main__content__item__buy__button {
  padding: 5px;
  color: white;
  background: lightblue;
  border: none;
  cursor: pointer;
}

.main__content__item__description {
  position: absolute;
  right: -100px;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.main__content__item__description > div {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: lightgrey;
  border-radius: 50%;
}

.footer {
  padding: 5px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-top: solid 1px grey;
}

.main__content__item:hover .main__content__item__info {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.main__content__item:hover .main__content__item__buy {
  position: relative;
  bottom: 0;
  opacity: 1;
}

.main__content__item:hover .main__content__item__description {
  right: 10px;
  top: 10px;
}